/* Css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/robotoslab/RobotoSlab-Regular.ttf');
}

header{
    min-height: calc( 100vh - 30px);
    max-height: 100vh;
    background-image: url('images/header_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 30px;
}

.inner-header-container{
    height: 20vh;
    transition: 0.4s;
    background-color: rgb(255, 255, 255, 0.3);
}

.dark{
    transition: 0.4s;
    background-color: #6c6c6c;
}

/* .container-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */

.header-section{
    display: flex;
    padding: 10px 10px 0 10px;
}

.header-section>div:first-child{
    width: 35vw;
}

.logo-img{
    display: flex;
    justify-content: center;
}

.logo-img img{
    width: 60px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-texts>p{
    font-weight: 400;
    font-style: normal;
    /* font-family: 'Open Sans', sans-serif; */
    color: #ffffff;
}

.header-texts>p:first-child{
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}

/* Responsive menu */
.menu-toggle{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.navbar{
    align-self: center;
}

.nav-menu{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color:#ffffff;
    font-size: 1rem;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 9.5rem;
    flex-direction: column;
    background-color: #6c6c6c;
    color: #141414;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #141414;
}

.header-content{
    height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 10px;
}

.content-container>p:first-child{
    /* font-family: 'OpenSans'; */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    color: #aca830;
}

.content-container>h1{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #fff;
}

.content-container>p:last-child{
    font-weight: 300;
    font-style: normal;
    /* font-family: 'Open Sans', sans-serif; */
    color: #ffffff;
}

.donate-button{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    max-width: 150px;
    padding: 15px;
    border-radius: 30px;
    background-color: #aca830;
    margin-left: 10px;
}

.donatebutton{
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.section_wrapper{
    display: flex;
    flex-direction: column;
}

.history{
    padding: 0 10px 10px 10px;
}

.history-texts{
    padding-bottom: 30px;
}

.history-texts>h2{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    border-left: 1px solid #aca830;
    margin: 20px 0 15px 0;
    padding-left: 30px;
    color: #534d51;
}

.history-texts>p{
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #96948f;
    padding-left: 30px;
    line-height: 1.4;
}

.values{
    padding: 35px 35px 10px 20px;
    background: #f7f6ef;
}

.introduction-values>h2{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    color: #534d51;
}

.introduction-values>p{
    font-size: 18px;
    /* font-family: 'Open Sans', sans-serif; */
    color: #96948f;
    font-weight: lighter;
}

.value{
    padding: 5px 0;
}

.value>h3{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #534d51;
    padding: 10px 0;
}

.value>p{
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    /* font-family: 'Open Sans', sans-serif; */
    color: #96948f;
    line-height: 1.4;
}

.value>img{
    width: 95px;
}

.history-texts>ul{
    list-style: none;
    padding-left: 30px;
}

.history-texts>ul>li{
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    /* font-family: 'Open Sans', sans-serif; */
    color: #96948f;
    margin-bottom: 11px;
}

.fa-chevron-right{
    color: #aca830;
    padding-right: 10px;
}

.history-img{
    width: 90vw;
    margin: auto;
}

.history-img>img{
    width: 100%;
}

.facts{
    background-color: #ccc;
    padding: 30px 10px;
}

.fact, .first-fact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.first-fact:first-child>p{
    text-transform: uppercase;
    color: #aca830;
    font-size: 14px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
}

.first-fact>p:nth-child(2){
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.first-fact>hr{
    border-top: 2px solid #aca830;
    width: 8vw;
}

.fact>p{
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
}

.fact>p:nth-child(2){
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
}

.fa-instagram-square, .fa-facebook-square, .fa-snapchat-square, .fa-twitter-square{
    color: #ffffff;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    padding-bottom: 20px;
}

.logo-footer{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.logo-footer-img img{
    width: 60px;
    padding-right: 20px;
}

.copyright-footer p{
    /* font-family: 'Open Sans', sans-serif; */
    color: #96948f;
    font-size: 13px;
    padding-top: 20px;
}


@media (max-width: 479px) {
    .header-texts>p{
        font-size: 14px;
    }

    .header-texts>p:first-child{
        font-size: 28px;
    }
}

@media (min-width: 480px) {
    .header-texts>p:first-child{
        font-size: 26px;
    }
}

@media (min-width: 767px) {
    .header-section>div:first-child{
        width: 50%;
    }

    .logo-img{
        align-self: center;
        padding: 0 5vw;
    }

    .header-texts>p{
        font-size: 12px;
    }

    .header-texts>p:first-child{
        font-size: 22px;
    }

    /*Responsive menu*/
    .inner-header-container{
        display: flex;
        justify-content: space-between;
    }

    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
    }

    .nav-menu {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        left: 0;
        top: 0;
        border: none;
    }

    .menu-toggle{
        padding-top: 0;
        justify-content: center;
    }
    
    .nav-item {
        margin-left: 1rem;
    }

    .nav-menu a{
        font-size: 1.2rem;
        font-weight: 400;
    }

    .nav-link:hover{
        color: #482ff7;
    }
    
    .history-texts>h2{
        font-size: 30px;
        /* font-weight: 400;
        font-style: normal;
        font-family: 'Roboto Slab', serif; */
    }

    .history-texts>p{
        font-size: 14px;
        /* font-weight: 400;
        font-style: normal;
        font-family: 'Open Sans', sans-serif; */
    }

    .history-texts>ul>li{
        font-size: 14px;
        /* font-weight: 400;
        font-style: normal;
        font-family: 'Open Sans', sans-serif;
        color: #96948f; */
    }

    .value>h3{
        font-size: 18px;
    }

    .introduction-values>h2{
        font-size: 30px;
    }

    .fact:first-child>p{
        font-size: 15px;
    }

    .fact>p{
        font-size: 14px;
    }

    .fact>p:nth-child(2){
        font-size: 35px;
    }
}

@media (min-width: 1039px) {
    .header-texts>p{
        font-size: 14px;
    }

    .header-texts>p:first-child{
        font-size: 28px;
    }

    .nav-item {
        margin-left: 2rem;
    }

    .nav-link{
        text-decoration: none;
        color:#ffffff;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .nav-link:hover{
        color: #482ff7;
    }
    
    .history-texts>h2{
        font-size: 25px;
    }

    .history-texts>p{
        font-size: 14px;
        /* font-family: 'Open Sans', sans-serif; */
    }

    .value>h3{
        font-size: 24px;
    }

    .introduction-values>h2{
        font-size: 25px;
    }

    .introduction-values>p{
        font-size: 20px;
    }

    .fact>p:first-child{
        font-size: 15px;
    }

    .fact:first-child>p{
        font-size: 16px;
    }

    .fact>p{
        font-size: 16px;
    }

    .fact>p:nth-child(2){
        font-size: 60px;
    }
}
